*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo{
    height:50px;
    width: 113px;
}
#id{
    font-size: 12px;
    color: #cccccc;
    margin-left: 15px;
}
#india{
    font-size: 14px;
    color:#ffffff;
    margin: 3px;
}
.icon{
    display: flex;
    font-weight: 600;
}
select{
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
    text-align: center;
    background-color: silver;
    
}
.search{
    display: flex;
    background-color: rgb(230, 208, 18);
    color: black;
    height: 40px;
    width: 600px;
    border-radius: 4px;
    border: 0.5px;
    
}
#input{
    width: 100%;
    font-size: 16px;
    border: none;
}
.S-icon{
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#r{
    font-size: 12px;
}
#o{
    font-size: 14px;
    font-weight: 600;
}
.cart{
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

#in{
    font-size: 12px;
}
#out{
    font-size: 14px;
    font-weight: 600;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    
    border: 2px solid white;
}
.nav2{
    height: 39px;
    background-color: #0f1111;
    opacity: 0.9;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.panel{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
.para{
    display: flex;
    margin-left: 20px;
}
.image0{
    background-image: url("image0.jpg");
    height: 280px;
    background-size: cover;
    color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.white{
    margin-bottom: 20px;
}
.image0 a{
    font-size: 14px;
    color: #007185;
    text-decoration: none;
}
.image0 a:hover{
    text-decoration: underline;
}

.white{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 14px;
    height: 40px;
    width: 1200px;
}
.boxes{
    display: flex;
    justify-content: space-evenly;
}
.boxes img{
    margin-left: 12.5px;
}
.beauty{
  
    color:black ;
    height: 400px;
    width: 300px;
    font-weight: 600;
    margin-left: 12.5px;
    background-color: #ffffff;
}
.boxes p{
    font-size: 20px;
    font-weight: 600px;
    margin-left: 12.5px;
    margin-top: 10px;
}
.boxes a{
    font-size: 12px;
    text-decoration: none;
   
}
.cl{
    margin-left: 12.5px;
}
.pet{
    color:black ;
    height: 400px;
    width: 300px;
    background-color: #ffffff;
    font-weight: 600;
}
.toys{
  
    color:black ;
    height: 400px;
    width: 300px;
    font-weight: 600;
    background-color: #ffffff;
}
.phone{
    color:black ;
    height: 400px;
    width: 300px;
    background-color: #ffffff;
    font-weight: 600;
}
.box2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.boxes img{
    margin-left: 12.5px;
    margin-top: 20px;
}
.big{
    background-color: rgba(192,192,192,0.38);
    height: 850px;
}
.boxes1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.boxes1 img{
    margin-left: 12.5px;
}
.beauty1{
  
    color:black ;
    height: 400px;
    width: 300px;
    font-weight: 600;
    margin-left: 12.5px;
    background-color: #ffffff;
}
.boxes1 p{
    font-size: 20px;
    font-weight: 600px;
    margin-left: 12.5px;
    margin-top: 10px;
}
.boxes1 a{
    font-size: 12px;
    text-decoration: none;
   
}
.cl1{
    margin-left: 12.5px;
}
.pet1{
    color:black ;
    height: 400px;
    width: 300px;
    background-color: #ffffff;
    font-weight: 600;
}
.toys1{
  
    color:black ;
    height: 400px;
    width: 300px;
    font-weight: 600;
    background-color: #ffffff;
}
.phone1{
    color:black ;
    height: 400px;
    width: 300px;
    background-color: #ffffff;
    font-weight: 600;
}
.box2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.boxes1 img{
    margin-left: 12.5px;
    margin-top: 20px;
}

.back{
    text-decoration: none;
    color: #ffffff;
    height: 50px;
    background-color: #37475a;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.foot{
    background-color: #37475a;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    color: white;

}
.foot pre{
    margin-top: 20px;
}
.pe{
    font-size: 16px;
    font-weight: 600;
}
.pe1{
    font-size: 14px;
    font-weight: 300;
}
.last{
    background-color: #37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    color: white;
}
.last img{
    height: 50px;
}
.footer{
    background-color: #37475a;
    color: white;
    text-align: center;
    font-size: 10px;
}
